.block1-it{
text-align: left;
height: 100%;

}
.block1-it-container{
    padding: 20px;
}
.make-first-invest-text{
    max-width: 350px;
}

.card-details{
    display: grid;
}
.statbox__title{
    color: #81878c;
    margin: 0;
    padding: 0;
}

.statbox__value{
    margin: 5px 0;
}

.card-description{
    margin: 2px 0 5px 0;
}